<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.example.instahash">
    



    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="#Hashtags"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">


                <meta-data
                    android:name="com.google.android.gms.ads.APPLICATION_ID"
                    android:value="ca-app-pub-9803998520474404~3216079296"/>


        <activity android:name="app.example.instahash.PopularHashes"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="app.example.instahash.HashActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="app.example.instahash.MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="app.example.instahash.WelcomeScreen"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-3940256099942544~3347511713"-->
<!--            />-->

    </application>

</manifest>